*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 20px;
  text-align: center;
}

h1{
  color: #333;
  margin-bottom: 40px;
}

.grid{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
}
.card{
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.5);
  width: 250px;
  padding: 20px;
}
.card:hover{
  transform: scale(1.03);
  box-shadow: black 1.2px 1.2px;
}

